/* ОБЩЕЕ */
body {
	background: linear-gradient(rgba(219, 219, 255, 1) 16%, rgba(140, 127, 204, 1) 36%, rgba(219, 219, 255, 1) 88%, rgba(140, 127, 204, 1) 100%);
}

h1 {
	color: rgb(140, 127, 204);
	font-family: Geist;
	font-size: 110px;
	font-weight: 500;
	line-height: 85px;
	letter-spacing: 5px;
	text-align: left;
	text-transform: uppercase;
	width: fit-content;
	height: fit-content;
}

h2 {
	color: rgb(56, 56, 56);
	font-family: Kudry;
	font-size: 80px;
	font-weight: 300;
	line-height: 75px;
	letter-spacing: 5px;
	text-align: left;
	text-transform: uppercase;
	width: fit-content;
	height: fit-content;
}

.h2_purple {
	color: rgb(164, 166, 255);
}

h3 {
	color: rgb(56, 56, 56);
	font-family: Kudry;
	font-size: 48px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 5px;
	text-align: left;
	text-transform: uppercase;
	width: fit-content;
	height: fit-content;
}

h4 {
	color: #FBFBFF;
	font-family: Geist;
	font-size: 16px;
	font-weight: 800;
	line-height: 30px;
	letter-spacing: 3px;
	text-align: center;
	text-transform: uppercase;
}

.h4_white {
	color: rgb(140, 127, 204);
}

p {
	color: rgb(56, 56, 56);
	font-family: Geist;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 4px;
	text-align: justify;
	margin-top: 50px;
}

#label_p {
	margin-top: 0;
}

section {
	margin: 50px 0;
}

button {
	width: 250px;
	height: 80px;
	border-radius: 100px;
	background: rgb(164, 166, 255);
	margin-top: 35px;
	align-self: center;
}

#button_white {
	background: #FBFBFF;
}

input {
	height: 50px;
	border: solid 5px rgba(219, 219, 255, 1);
	border-radius: 40px;
	color: #A4A6FF;
	font-family: Geist;
	font-size: 16px;
	font-weight: 800;
	line-height: 50px;
	letter-spacing: 15%;
	text-align: left;
	text-transform: uppercase;
}

#gap_150 {
	margin-left: 150px;
}

#gap_300 {
	margin-left: 300px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 700px;
	margin: 0 0 0 300px;
}





/* HERO */
.section_hero {
	width: 100%;
}

.hero_top {
	background: #FBFBFF;
	height: 630px;
	display: flex;
	align-items: center;
	column-gap: 50px;
}

.container_h2 {
	width: fit-content;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.rings {
	width: 600px;
}

.hero_bottom {}

.paper {
	width: 100%;
}

.logo {
	width: 100%;
}


/* NEW */
.container_h1 {
	width: fit-content;
	display: flex;
	flex-direction: column;
	row-gap: 0px;
}

.lustre {
	height: 85px;
}

.container_h1_ {
	width: fit-content;
	display: flex;
	flex-direction: row;
	align-items: end;
}

.container_grid {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#new1 {
	grid-area: n1;
}

#new2 {
	grid-area: n2;
	margin-right: 100px;
}

#new5 {
	grid-area: n5;
}


#new3 {
	grid-area: n3;
}

#new4 {
	grid-area: n4;
	margin-left: 100px;
}

.grid {
	width: fit-content;
	display: grid;
	grid-template-columns: 2% 33% 30% 33% 2%;
	grid-template-rows: 49% 49% 2%;
	grid-column-gap: 0;
	grid-row-gap: 3%;
	grid-template-areas:
		". n1 n5 n3 ."
		"n2 n2 n5 n4 n4"
		"n2 n2 n5 n4 n4";
	align-items: center;
	justify-items: center;
	justify-content: center
}

.article_new,
.article_new5 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 100%;
}

.article_new5 {
	width: 100%;
}





/* NEW COLLECTION */
.container_new_col {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 80px;
	margin-top: -2px;
	padding-bottom: 100px;
	background: #FBFBFF;
}





/* ABOUT COMPAHY */
.container_about_com {
	display: flex;
	flex-direction: row;
	margin-top: -50px;
	align-items: center;
	background: #FBFBFF;
	overflow: hidden;
}

.hand {
	margin-left: -80px;
	width: 800px;
}





/* OUR SERVICE */
.container_our_services {
	margin-top: -50px;
	padding: 100px 0;
	background-color: #FBFBFF;
}

.container_grid_our_services {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;

}

.services {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: solid 5px #8C7FCC;
}

.service {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.service_it {
	margin-right: 300px;
	width: 200px;
}






/* FORM */
.form {
	margin-top: -50px;
}

.form_up {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	row-gap: 50px;
	background: #FBFBFF;
	width: 100%;
}

.form_down {
	display: flex;
	flex-direction: row;
	column-gap: 50px;
	background: #FBFBFF;
	padding-bottom: 50px;
	align-items: center;
}

.form_right {
	display: flex;
	flex-direction: column;
	column-gap: 50px;
	background: #FBFBFF;
}

.subscribe {
	width: 700px;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
}

.checkbox_ {
	width: 75%;
	display: flex;
	flex-direction: row;
	accent-color: #A4A6FF;
	column-gap: 15px;
}