.menu_font {
	color: rgb(56, 56, 56);
	font-family: Geist;
	font-size: 20px;
	font-weight: 500;
	line-height: 15px;
	letter-spacing: 15%;
	text-align: center;
	text-transform: lowercase;
}

.menu_font:hover {
	text-decoration: underline;
	color:  rgba(140, 127, 204, 1);
}

.logo_font{
	color: rgb(56, 56, 56);
	font-family: Geist;
	font-size: 18px;
	font-weight: 500;
	line-height: 15px;
	letter-spacing: 15%;
	text-align: center;
	text-transform: uppercase;
}


.menu {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.container_menu {
	background-color: #fbfbfb;
	width: 90%;
	align-self: center;
	display: flex;
	flex-direction: row;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.menu_right_left {
	display: flex;
	width: 35%;
	align-self: center;
	height: fit-content;
}

.menu_ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.menu_midle {
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#icon {
	width: 30px;
}

.container_logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 7px;
}

#icon_logo {
	width: 40px;
}